@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Lato&display=swap");
body {
  margin: 0px;
  color: white;
  text-align: left;
  max-width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  background-color: #ABCFD7;
  text-align: left;
  margin: 0px;
}

/* FONTS */
h1 {
  font-size: 5vw;
  font-family: "DM Serif Text", serif;
  font-weight: 200;
  margin-top: 0px;
  position: relative;
  z-index: 99;
}

h2 {
  font-size: 2vw;
  font-family: "DM Serif Text", serif;
  font-weight: 200;
  margin: 0;
  color: #1C1C1C;
}

h3 {
  font-size: 2vw;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: white;
}

p {
  color: #3B3B3B;
  font-size: 20px;
}

.flex_row {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

/* HOME-GRID */
section#line1 {
  grid-area: line1;
}

.line {
  border-left: 3px solid white;
  margin: auto;
  height: 100%;
  width: 5%;
}

section#social_media {
  grid-area: social_media;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
section#social_media .social_media_icon {
  padding: 15% 0%;
  color: white;
}

section#line2 {
  grid-area: line2;
}

.line2 {
  border-left: 3px solid white;
  margin: auto;
  height: 100%;
  width: 5%;
}

section#main {
  grid-area: main;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #ABCFD7;
  padding-top: 4vh;
  display: grid;
  grid-template-rows: 3fr 5fr 4fr;
  grid-template-columns: 1fr 10fr 1fr;
  height: 85vh;
  grid-template-areas: "line1 main main" "social_media main main " "line2 main main ";
}

.main_div h3 {
  margin-top: 0%;
  position: relative;
  z-index: 99;
}
.main_div .img1 {
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(100%, 100%) rotate(0deg) translate(100px) rotate(0deg);
  animation: move1 5s linear infinite;
}
.main_div .img2 {
  position: absolute;
  top: 15%;
  left: 15%;
  transform: translate(100%, 100%) rotate(0deg) translate(-100px) rotate(0deg);
  animation: move2 20s linear infinite;
}

@keyframes move1 {
  from {
    transform: translate(0%, 0%) rotate(0deg) translate(50px) rotate(0deg);
  }
  to {
    transform: translate(0%, 0%) rotate(360deg) translate(50px) rotate(0deg);
  }
}
@keyframes move2 {
  from {
    transform: translate(0%, 0%) rotate(0deg) translate(-50px) rotate(0deg);
  }
  to {
    transform: translate(0%, 0%) rotate(360deg) translate(-50px) rotate(0deg);
  }
}
/* NAVBAR */
.navbar {
  position: sticky;
  top: 0px;
  z-index: 99;
  height: 80px;
}

.containerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 4vw;
  padding-left: 2vw;
  padding-top: 3vh;
}

.menu-icon {
  display: none;
}

.nav-elements {
  padding-right: 2vw;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-elements ul p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-elements ul a.active {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

.LatestProyects {
  background-color: #F0F0F0;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.LatestProyects h2 {
  margin-right: 4vw;
  text-align: center;
}
.LatestProyects p {
  width: 20vw;
}

.card {
  width: 50vw;
  height: 60vh;
  position: relative;
  overflow: hidden;
}
.card .card-image {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-image {
  transform: scale(1.2);
}

.card:hover .card-image2 {
  transform: scale(1.2);
}

.card:hover .card-image {
  transform: scale(1.2);
}

.card:hover .card-image4 {
  transform: scale(1.2);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
  background-color: rgba(36, 36, 36, 0.768627451);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
}
.card-content h2 {
  font-family: "DM Serif Text", serif;
  position: absolute;
  bottom: 10%;
  color: white;
}

.card:hover .card-content {
  opacity: 1;
  display: flex;
}

.more_projects {
  background-color: #3B3B3B;
  padding: 30vh 0vw;
}

.more_projects_hover {
  cursor: pointer;
}
.more_projects_hover h2 {
  color: white;
  text-align: center;
  font-size: 4vw;
}
.more_projects_hover a {
  margin-top: 0.5%;
  margin-left: 1%;
  color: white;
}

.more_projects_hover_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.services {
  background-color: #F0F0F0;
  padding: 15vh 15vw;
  display: flex;
  justify-content: space-between;
}
.services h2 {
  font-weight: 200;
  margin: 0;
}
.services h3 {
  font-size: 1.8vw;
  font-family: "DM Serif Text", serif;
  font-weight: 200;
  text-align: center;
  margin: 0px;
  color: #1C1C1C;
}
.services p {
  margin-top: 0px;
  font-weight: 500;
  width: 95%;
}
.services .services_flex {
  justify-content: center;
  width: 30vw;
}
.services .service_card {
  display: flex;
  flex-direction: column;
}
.services img {
  width: 12vw;
}

.aboutMe {
  background-color: rgb(215, 215, 215);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0vh 10vw;
}
.aboutMe p {
  width: 40vw;
  font-size: 25px;
}
.aboutMe .aboutme_text {
  display: flex;
  flex-direction: column;
}
.aboutMe img {
  width: 12vw;
}

.aboutme_cv_download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15vh 0vw;
}
.aboutme_cv_download p {
  text-align: center;
  color: white;
}

.footer_color {
  position: relative;
  background-color: #343434;
}

.vertical {
  position: absolute;
  bottom: 80px;
  right: 0;
  display: flex;
  transform: rotate(-90deg);
}
.vertical p {
  color: white;
  margin: 0%;
}
.vertical a {
  color: white;
}

.footer {
  display: flex;
  padding: 20vh 10vw;
}
.footer h2 {
  font-size: 3.5vw;
  font-weight: 200;
  color: white;
  padding: 0% 5%;
}
.footer p {
  font-size: 25px;
  padding-left: 15%;
  color: white;
}
.footer img {
  height: 20vh;
}
.footer .vertical {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

.mern {
  background-color: #222222;
  padding: 1%;
}
.mern p {
  margin: 0%;
  text-align: center;
  color: #696969;
}

.header-container {
  height: 90vh;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  margin-top: -100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.header-container h2 {
  color: white;
  font-size: 5vw;
}
.header-container .header-container-title {
  z-index: 99;
}
.header-container .header-container-subtitle {
  color: white;
  text-align: center;
}

.header-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 88vh;
  background-color: rgba(38, 38, 38, 0.511);
  z-index: 3;
}

.project_info {
  background-color: #F0F0F0;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project_info h2 {
  margin-right: 4vw;
  text-align: center;
}
.project_info p {
  width: 40vw;
}

.projectImages {
  width: 100vw;
  margin-top: -5px;
}

.filter {
  background-color: rgb(215, 215, 215);
  margin-top: 2%;
  display: flex;
  justify-content: center;
  margin-top: -100px;
  padding-top: 15vh;
  padding-bottom: 10vh;
}
.filter p {
  margin: 5px 60px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 5vw;
  }
  p {
    font-size: 22px;
  }
  .LatestProyects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LatestProyects h2 {
    width: 60vw;
    margin-right: 0%;
  }
  .LatestProyects p {
    width: 60vw;
    margin-left: 0%;
  }
  .services h3 {
    font-size: 3vw;
    text-align: center;
  }
  .services .services_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services .service_card {
    width: 50vw;
    margin: 5% 5%;
  }
  .services img {
    width: 60%;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 0vw;
  }
  .aboutMe h2 {
    text-align: center;
  }
  .aboutMe p {
    width: 60vw;
    text-align: center;
  }
  .aboutMe .aboutme_text {
    display: flex;
    flex-direction: column;
  }
  .aboutMe .aboutme_cv {
    text-align: center;
  }
  .aboutMe img {
    padding: 0vh 0vw;
    width: 60%;
  }
  .line {
    display: none;
  }
  section#social_media {
    display: none;
  }
  section#line2 {
    display: none;
  }
  .container {
    display: grid;
    grid-template-rows: 2fr 6fr 3fr;
    grid-template-columns: 10fr 1fr;
    height: 85vh;
    grid-template-areas: "main main" "main main " " main main ";
  }
  .filter {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 5vw;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
  .flex_row {
    display: flex;
    flex-direction: column;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 5vw;
    margin-top: 3vh;
  }
  .logo img {
    width: 16vw;
    padding-left: 3vw;
    padding-top: 3vh;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }
  .nav-elements.active {
    width: 270px;
  }
  .nav-elements ul {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .nav-elements ul li {
    margin-right: 30px;
    margin-top: 22px;
  }
  .line {
    display: none;
  }
  section#social_media {
    display: none;
  }
  section#line2 {
    display: none;
  }
  .container {
    display: grid;
    grid-template-rows: 2fr 6fr 3fr;
    grid-template-columns: 10fr 1fr;
    height: 85vh;
    grid-template-areas: "main main" "main main " " main main ";
  }
  .main_div h3 {
    font-size: 18px;
  }
  .main_div .img1 {
    width: 70%;
    height: auto;
    top: 40%;
    left: 0%;
    transform: translate(100%, 100%) rotate(0deg) translate(5px) rotate(0deg);
    animation: move1 5s linear infinite;
  }
  .main_div .img2 {
    width: 80%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 0%;
    transform: translate(100%, 100%) rotate(0deg) translate(-10px) rotate(0deg);
    animation: move2 20s linear infinite;
  }
  .LatestProyects {
    height: 30vh;
    padding: 0% 8%;
    display: flex;
    flex-direction: column;
  }
  .LatestProyects h2 {
    width: 60vw;
    margin-right: 0%;
  }
  .LatestProyects p {
    color: #3B3B3B;
    font-size: 12px;
    width: 60vw;
    margin-left: 0%;
  }
  .more_projects {
    padding: 10vh 0;
  }
  .more_projects svg {
    width: 5%;
    display: flex;
  }
  .services h3 {
    font-size: 4vw;
  }
  .services .services_flex {
    padding: 6vh 6vw;
    flex-direction: column;
    align-items: center;
  }
  .services .service_card {
    width: 50vw;
    padding: 6%;
    margin: 5% 5%;
  }
  .services img {
    width: 60%;
  }
  .aboutMe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15vh 0vw;
  }
  .aboutMe h2 {
    text-align: center;
  }
  .aboutMe p {
    width: 60vw;
    text-align: center;
    font-size: 16px;
  }
  .aboutMe .aboutme_text {
    display: flex;
    flex-direction: column;
  }
  .aboutMe .aboutme_cv {
    text-align: center;
  }
  .aboutMe img {
    padding: 0vh 0vw;
    width: 60%;
  }
  .footer {
    padding: 20vh 10vw;
    flex-direction: column;
  }
  .footer h2 {
    font-size: 10vw;
    padding: 0%;
    padding-bottom: 5%;
  }
  .footer p {
    font-size: 25px;
    padding-left: 0%;
  }
  .footer img {
    width: 50%;
  }
  .card {
    width: 100vw;
    height: 40vh;
  }
  .header-container {
    height: 90vh;
  }
  .header-container h2 {
    color: white;
    font-size: 8vw;
  }
  .header-container .header-container-title {
    z-index: 99;
  }
  .project_info {
    padding: 5% 0%;
    display: flex;
    flex-direction: column;
  }
  .project_info p {
    width: 70vw;
  }
  .filter {
    flex-direction: column;
    text-align: center;
  }
}

/*# sourceMappingURL=App.css.map */
